@model BookWorms.Models.Admins.AdminBookViewModel;
@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>
@foreach (var book in Model.Books)
{
<div>
    @book.BookTitle
</div>}

<a href='@Url.Action("AddBook", "Admin")'>Add Book</a>
<a href='@Url.Action("DeleteBook", "Admin")'>Delete Book</a>
